.title {
  font-family: "Cormorant Garamond", serif;
  font-size: 45px;
  color: black;
  margin-bottom: 35px; }

.text {
  color: black;
  margin-bottom: 35px;
  line-height: 2; }

.img-box {
  background-color: white;
  display: inline-block;
  padding: 8px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 19px 1px rgba(223, 220, 220, 0.75);
  box-shadow: 0px 5px 19px 1px rgba(223, 220, 220, 0.75); }
  .img-box__img {
    width: 100%; }

.btn {
  position: relative;
  display: inline-block;
  background-color: #82f4d3;
  padding: 18px 36px;
  color: #0a0a0a;
  font-style: "Poppins", sans-serif;
  font-size: 15px;
  text-decoration: none;
  font-weight: 400; }
  .btn:after {
    position: absolute;
    content: '';
    bottom: 5px;
    right: 3px;
    height: 100%;
    width: 100%;
    border: 1px solid #82f4d3; }

body {
  font-family: "Poppins", sans-serif;
  color: #888888;
  font-size: 15px; }

ul {
  list-style: none; }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

.container {
  max-width: 1270px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.header {
  width: 100%;
  top: 62px;
  position: absolute; }
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .header-nav__round {
    margin-right: 20px;
    display: inline-block;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    border: 2px solid black; }
  .header-nav__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: black; }

.hero {
  height: 1020px;
  background-image: url("../img/bg.png");
  background-size: cover;
  background-repeat: no-repeat; }
  .hero .container {
    position: relative;
    height: 100%; }
  .hero-title {
    padding-top: 200px; }
  .hero-title__top {
    color: #2c2d30;
    font-size: 150px;
    font-family: 'Poppins', sans-serif; }
  .hero-title__bottom {
    position: relative;
    display: inline-block;
    color: #2c2d30;
    background-color: #82f4d3;
    padding: 20px 25px 20px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif; }
    .hero-title__bottom:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 9px;
      right: 3px;
      border: 2px solid #82f4d3; }
  .hero__text {
    position: absolute;
    color: #888888;
    font-family: 'Poppins', sans-serif;
    width: 350px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    bottom: 85px;
    left: -90px;
    line-height: 1.786; }
  .hero-image {
    position: absolute;
    top: 212px;
    right: 20%; }

.menu-btn {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 14px; }
  .menu-btn__line {
    background-color: white;
    height: 2px;
    width: 17px; }

.social {
  display: inline-block;
  position: fixed;
  z-index: 10000;
  right: -100px;
  bottom: 50px; }

.air-force {
  padding: 90px 0; }
  .air-force .container {
    position: relative; }
  .air-force-image {
    display: inline-block;
    padding: 8px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 19px 1px rgba(223, 220, 220, 0.75);
    box-shadow: 0px 5px 19px 1px rgba(223, 220, 220, 0.75); }
    .air-force-image__img {
      width: 100%; }
  .air-force__info {
    position: absolute;
    right: 0;
    top: 200px; }
  .air-force__btn {
    float: right; }
  .air-force__title {
    font-family: "Cormorant Garamond", serif;
    font-size: 45px;
    color: black;
    margin-bottom: 35px; }
  .air-force__text {
    color: black;
    margin-bottom: 35px;
    line-height: 2; }

.popular {
  padding-bottom: 100px; }
  .popular-item {
    position: relative; }
  .popular .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .popular-item-image {
    margin-bottom: 60px; }
  .popular-item__title {
    font-size: 15px;
    color: black;
    font-weight: 400;
    margin-bottom: 20px; }
    .popular-item__title span {
      color: #888888;
      float: right; }
  .popular-item__text {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px; }

.popular-item-image--hover {
  position: absolute;
  top: 0;
  width: 250px;
  height: 305px;
  display: none;
  background-color: rgba(130, 244, 211, 0.8); }

.popular-item-image:hover .popular-item-image--hover {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  text-align: center;
  padding-top: 150px; }
  .popular-item-image:hover .popular-item-image--hover a {
    padding: 15px 25px;
    text-decoration: none;
    color: white;
    border: 1px solid white; }

.pre-fall {
  margin-bottom: 300px; }
  .pre-fall__info {
    display: inline-block; }
  .pre-fall__title {
    font-family: "Cormorant Garamond", serif;
    font-size: 45px;
    color: black;
    margin-bottom: 35px;
    padding-top: 150px; }
  .pre-fall__text {
    color: black;
    margin-bottom: 35px;
    line-height: 2; }
  .pre-fall-image {
    position: relative;
    display: inline-block;
    float: right;
    right: 0;
    top: 0;
    padding: 8px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 19px 1px rgba(223, 220, 220, 0.75);
    box-shadow: 0px 5px 19px 1px rgba(223, 220, 220, 0.75);
    margin-bottom: 200px; }
    .pre-fall-image:after {
      z-index: -5;
      position: absolute;
      content: '';
      top: 250px;
      left: 300px;
      width: 290px;
      height: 390px;
      background-color: #82f4d3;
      background-image: -webkit-linear-gradient(336deg, #65e0bc 0%, #c9f9eb 100%);
      background-image: -o-linear-gradient(336deg, #65e0bc 0%, #c9f9eb 100%);
      background-image: linear-gradient(114deg, #65e0bc 0%, #c9f9eb 100%); }
    .pre-fall-image__img {
      z-index: 10;
      width: 100%; }

.thought {
  background-color: #f8f8f8;
  text-align: center;
  padding: 100px 0; }
  .thought__author {
    font-size: 18px;
    color: #82f4d3;
    margin-bottom: 10px; }
  .thought__rank {
    font-size: 18px; }

.blog {
  padding: 100px 0 250px; }
  .blog-image {
    position: relative; }
    .blog-image:after {
      z-index: -5;
      position: absolute;
      content: '';
      top: 250px;
      left: 300px;
      width: 290px;
      height: 390px;
      background-color: #82f4d3;
      background-image: -webkit-linear-gradient(150deg, #64e8c2 0%, #d4fcf0 100%);
      background-image: -o-linear-gradient(150deg, #64e8c2 0%, #d4fcf0 100%);
      background-image: linear-gradient(300deg, #64e8c2 0%, #d4fcf0 100%); }
  .blog__title {
    text-align: center;
    margin-bottom: 80px; }
  .blog-info {
    float: right;
    padding-top: 20px !important; }
    .blog-info__title {
      font-size: 30px;
      margin-bottom: 25px;
      color: black;
      font-family: "Poppins", sans-serif;
      font-weight: 400; }
    .blog-info__btn {
      float: right; }

.footer {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 1.6em;
  padding: 45px 0; }
  .footer .social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .footer .container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 50px 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee; }
  .footer-label {
    position: absolute;
    bottom: -30px;
    right: 0; }
  .footer-form__title {
    display: block;
    margin-bottom: 25px; }
  .footer-form__btn {
    padding: 18px 46px;
    border: none;
    background-color: #82f4d3;
    text-decoration: none; }
  .footer-form__input {
    margin-bottom: 20px;
    padding-left: 32px;
    width: 303px;
    height: 47px;
    color: #dddddd;
    border: none;
    -webkit-box-shadow: 0px 5px 23.75px 1.25px rgba(231, 231, 231, 0.75);
    box-shadow: 0px 5px 23.75px 1.25px rgba(231, 231, 231, 0.75); }
    .footer-form__input::-webkit-input-placeholder {
      color: #dddddd; }
    .footer-form__input:-ms-input-placeholder {
      color: #dddddd; }
    .footer-form__input::-ms-input-placeholder {
      color: #dddddd; }
    .footer-form__input::placeholder {
      color: #dddddd; }

.nike {
  font-size: 150px;
  font-family: "Poppins";
  color: rgba(255, 255, 255, 0.129);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.167;
  text-align: left;
  -moz-transform: matrix(0, -1.03753, 1.02627, 0, 0, 0);
  -webkit-transform: matrix(0, -1.03753, 1.02627, 0, 0, 0);
  -ms-transform: matrix(0, -1.03753, 1.02627, 0, 0, 0);
  position: absolute;
  left: 680.928px;
  top: 4271.475px;
  z-index: 75; }

.col-1-12 {
  width: 8.33333%; }

.col-2-12 {
  width: 16.66667%; }

.col-3-12 {
  width: 25%; }

.col-4-12 {
  width: 33.33333%; }

.col-5-12 {
  width: 41.66667%; }

.col-6-12 {
  width: 50%; }

.col-7-12 {
  width: 58.33333%; }

.col-8-12 {
  width: 66.66667%; }

.col-9-12 {
  width: 75%; }

.col-10-12 {
  width: 83.33333%; }

.col-11-12 {
  width: 91.66667%; }

.col-12-12 {
  width: 100%; }

[class*="col-"] {
  padding: 0 15px; }

.row {
  width: 100%; }
